

@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Odibee+Sans&family=Teko&family=Ubuntu:wght@300;400&display=swap');

:root,
:root.green {
  --bg-color: #25d366;
  --box-shadow: 1px 3px 5px #25d366;
}

:root.gold {
  --bg-color: gold;
  --box-shadow: 1px 3px 5px gold;
}

:root.red {
  --bg-color: darkred;
  --box-shadow: 1px 3px 5px darkred;
}

:root.blue {
  --bg-color: blue;
  --box-shadow: 1px 3px 5px blue;
}

:root.white {
  --bg-color: whitesmoke;
  --box-shadow: 1px 3px 5px whitesmoke;
}

:root.skyblue {
  --bg-color: deepskyblue;
  --box-shadow: 1px 3px 5px deepskyblue;
}

:root.pink {
  --bg-color: #F615F2;
  --box-shadow: 1px 3px 5px #F615F2;
}


:root,
:root.dark {
  --bg-color: #888;
  --body-color: #000;
  --text-color: rgba(250,250,250, 1);
  --text-color-1: #000;
  --box-shadow: 1px 3px 5px #888;
}

:root.light {
  --body-color: whitesmoke;
  --text-color: rgba(0,0,0, 1);
  --text-color-1: whitesmoke;
  --box-shadow: 1px 3px 5px #333;
}


* {
  margin: 0;
  padding: 0; 
}

body {
  font-family: 'ubuntu', sans-serif;
  letter-spacing: 1.3px;
  border: 2px solid var(--bg-color);
  background-color: var(--body-color);
  transition: all ease-in .5s;
}

/*header start*/
header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  border-bottom: .5px solid var(--bg-color);
  border-right: 2px solid var(--bg-color);
  gap: 38px;
  background-color: var(--body-color);
  transition: all ease-in .5s;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  width: 50px;
  height: 50px;
}

.logo a img {
  width: 50px;
  height: 50px;
  transition: .3s;
}

.logo a img:hover {
  animation: animLogo 3s linear infinite;
}

@keyframes animLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo span {
  color: var(--text-color);
  transition: all ease-in .5s;
  font-weight: bold;
  font-size: 13px;
}

.logo span b {
  color: var(--bg-color);
  transition: all ease-in .5s;
}

header nav {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav ul li {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: var(--text-color);
  transition: all ease-in .5s;
  cursor: pointer;
  opacity: .6;
  transition: all ease-in-out .3s;
}

nav ul li a:hover {
  color: var(--bg-color);
  transition: all ease-in .5s;
}

nav ul li #active {
  color: var(--bg-color);
}

header .sosmed {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .sosmed a span {
  font-size: 25px;
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .6;
  cursor: pointer;
}

header .sosmed a span:hover {
  color: var(--bg-color);
  transition: all ease-in .5s;
  opacity: .6;
}

/*warna select*/
header .dropdown {
  display: flex;
  align-items: center;
}

.dropdown .dropbtn span {
  font-size: 25px;
  color: var(--bg-color);
  transition: all ease-in .5s;
  cursor: pointer;
}

.dropdown .dropbtn span:hover {
  color: darkgray;
}

.dropdown-content {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50px;
  padding: 35px 5px 15px 5px;
  background: darkgray;
  border-radius: 5px;
  transition: all ease-in .5s;
  gap: 5px;
  box-shadow: inset 2px 2px 15px rgba(0, 0, 0, .4);
}

.dropdown-content label {
  position: absolute;
  top: 0;
  font-size: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
  background: darkgray;
  padding: 2px;
}

.dropdown-content a {
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border: 1.3px solid var(--bg-color);
  transition: all ease-in .5s;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.color-gold {
  color: gold;
}

.color-green {
  color: #25d366;
}

.color-red {
  color: darkred;
}

.color-blue {
  color: blue;
}

.color-white {
  color: white;
}

.color-skyblue {
  color: deepskyblue;
}

.color-pink {
  color: #F615F2;
}

/*hamburger menu*/
.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px solid var(--bg-color);
  transition: all ease-in .5s;
  border-radius: 0 0 0 5px;
  z-index: 9;
}

.bar1,
.bar2,
.bar3 {
  width: 33px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 15px;
  margin: 6px;
  transition: .5s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
  left: 10px;
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

.sidebar {
  position: fixed;
  background: var(--bg-color);
  display: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  list-style: none;
  height: 50vh;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgba(250, 250, 250, .6);
  padding: 10px;
  cursor: pointer;
}

.sidebar li a:hover {
  color: rgba(250, 250, 250, 1);
  font-weight: bold;
}

.change .sidebar {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 170px;
  height: 100vh;
  right: 0;
  top: 50px;
  opacity: .9;
}
/*akhir header style*/

/*home start*/
.container {
  margin: 70px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.container .welcom {
  display: flex;
  justify-content: center;
}

.container .welcom span {
  font-family: Monofett;
  color: var(--text-color-1);
  transition: all ease-in .5s;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 4px var(--text-color);
  opacity: .7;
}

.container .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  margin-top: 50px;
  padding: 10px;
}

.banner .hero {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  order: 1;
  padding: 10px;
  position: relative;
  gap: 25px;
}

  /* jam analog */
.hero .jam_ku {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px double var(--body-color);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  padding: 5px;
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  opacity: .8;
}
  
.jam_analog {
  background-image: url(/images/logo.png);
  background-color: var(--body-color);
  transition: all ease-in .5s;
  background-position: center;
  background-size: 100%;
  box-shadow: inset 15px 5px 25px var(--bg-color);
  position: relative;
  width: 240px;
  height: 240px;
  border: 5px double var(--bg-color);
  border-radius: 50%;
  padding: 15px;
}

.angka12,.angka6,.angka9,.angka3 {
  font-weight: bolder;
  opacity: .7;
  color: var(--text-color);
  transition: all ease-in .5s;
}

.angka12 {
  position: absolute;
  right: 88px;
  top: 0;
}

.angka6 {
  position: absolute;
  right: 90px;
  bottom: 0;
}

.angka9 {
  position: absolute;
  left: 0;
  bottom: 108px;
}

.angka3 {
  position: absolute;
  right: 0;
  bottom: 108px;
}

.xxx {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.jarum {
  position: absolute;
  width: 50%;
  background: #000;
  border: .8px solid whitesmoke;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

.lingkaran_tengah {
  width: 24px;
  height: 24px;
  background: var(--bg-color);
  transition: all ease-in .5s;
  border: 4px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  margin-top: -14px;
  border-radius: 50%;
}

.jarum_detik {
  height: 2px;
  border-radius: 1px;
  background: var(--bg-color);
  transition: all ease-in .5s;
  border: none;
}

.jarum_menit {
  height: 4px;
  border-radius: 4px;
}

.jarum_jam {
  height: 8px;
  border-radius: 4px;
  width: 35%;
  left: 15%;
}
  
  /* jam digital */
.jam_digital {
	border: 2px double var(--bg-color);
	transition: all ease-in .5s;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	padding: 2px 10px 2px 10px;
	opacity: .7;
}
.kotak{
	padding: 10px;
}

.kotak p {
	color: var(--text-color);
	transition: all ease-in .5s;
	font-family: 'Teko', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.kotak #detik {
  color: var(--bg-color);
  transition: all ease-in .5s;
}

.banner .sub-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-hero .slogan {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
  transition: all ease-in .5s;
}

.sub-hero .sub-slogan {
  font-size: 12px;
  color: var(--text-color);
  transition: all ease-in .5s;
}

.sub-hero .sub-slogan > b {
  color: var(--bg-color);
  transition: all ease-in .5s;
}

.btn-chat .button {
  padding: 5px;
  border-radius: 18px;
  border: 2px solid rgba(250, 250, 250, .7);
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  text-decoration: none;
  cursor: pointer;
}

.btn-chat .button:hover {
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
  opacity: .6;
}

.btn-chat .icon-chat, .text-chat {
  font-size: 12px;
  color: #000;
  opacity: .8;
}
/*home end*/

/*about start*/
.container-about {
  margin: 70px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  gap: 25px;
}

.sub-about {
  color: var(--text-color);
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Teko';
  opacity: .7;
}

.hero-about {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hero-about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px double var(--bg-color);
  transition: all ease-in .5s;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 10px;
  border-left: 1px solid rgba(250, 250, 250, .7);
  box-shadow: var(--box-shadow);
  transition: all ease-in .5s;
}

.about h4 {
  font-size: 2em;
  margin-bottom: 18px;
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .8;
  text-shadow: 1px 2px 5px gray;
}

.about span {
  font-size: 15px;
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .8;
}
/*about end*/

/*gallery start*/
.container-galeri {
  margin: 70px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 110px;
}

.sub-galeri {
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .7;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Teko';
}

.galeri {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.foto {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: relative;
  padding: 25px 0 0 0;
  border-left: 1.5px solid rgba(250, 250, 250, .7);
}

.foto h5 {
  color: var(--bg-color);
  transition: all ease-in .5s;
  position: absolute;
  left: 0;
  top: 0;
  border: 1.5px solid rgba(250, 250, 250, .7);
  border-radius: 0 2px 2px 0;
}

.foto a {
  width: 100px;
  height: 130px;
  cursor: pointer;
}

.foto a img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  transition: all ease-in .5s;
  border-radius: 3px;
}

.foto a:hover img {
  border-radius: 50%
}

.foto-slider {
  max-width: 40%;
  border: 2px solid var(--bg-color);
  box-shadow: 10px 25px 30px rgba(250, 250, 250, 0.3);
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0)
  }
  30% {
    transform: translateX(-100%)
  }
  50% {
    transform: translateX(-100%)
  }
  55% {
    transform: translateX(-200%)
  }
  75% {
    transform: translateX(-200%)
  }
  80% {
    transform: translateX(-300%)
  }
  100% {
    transform: translateX(-300%)
  }
}

.wrapper {
  width: 100%;
  display: flex;
  animation: 16s slide infinite;
}

.wrapper img {
  width: 100%;
}

.vidioKu {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 25px 0 0 0;
  border-left: 1.5px solid rgba(250, 250, 250, .7);
}

.vidioKu h5 {
  color: var(--bg-color);
  transition: all ease-in .5s;
  position: absolute;
  left: 0;
  top: 0;
  border: 1.5px solid rgba(250, 250, 250, .7);
  border-radius: 0 2px 2px 0;
}

.vidioKu a {
  max-width: 100px;
  height: 100px;
}

.vidioKu a video {
  width: 100px;
  height: 100px;
  box-shadow: var(--box-shadow);
  transition: all ease-in .5s;
  border-radius: 3px;
}
/*gallery end*/

/*contact start*/
.container-kontak {
  margin: 70px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 110px;
  padding-bottom: 50px;
}

.sub-kontak {
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .7;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Teko';
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-top: 30px;;
}

.my-contact {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, .7);
  box-shadow: 1px 5px 30px rgba(250, 250, 250, .3);
  border-radius: 5px;
  padding: 7px;
  transition: all ease-in .5s;
}

.list-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-contact > span {
  font-size: 12px;
  color: var(--text-color);
  transition: all ease-in .5s;
  opacity: .6;
}

.peta {
  display: flex;
  flex: 1;
  border: 2px solid var(--text-color);
  box-shadow: 10px 25px 30px rgba(250, 250, 250, 0.3);
}

iframe {
  width: 100%;
}
/*contact end*/

/* music start */
.my-music {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 40%;
  z-index: 9;
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  padding: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.music-container {
  border: 1px solid var(--bg-color);
  border-radius: 15px 15px 0 0;
  box-shadow: inset 1px 1px 10px var(--bg-color); 
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  position: relative;
  background-color: var(--body-color);
  transition: all ease-in .5s;
  width: 100%;
}

.img-container {
  position: relative;
  width: 90px;
}

/* styling the image to look like a disc by placing a small circle in it */
.img-container::after {
  content: '';
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  box-shadow: inset 1px 1px 10px rgba(0,0,0, .5);
  border-radius: 50%;
  position: absolute;
  bottom: 175%;
  left: 51.5%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

/* using animation to make the image rotate continiously when music is playing */
.img-container img {
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  transition: all ease-in .5s;
  object-fit: cover;
  height: 90px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

/* making sure the image rotates only when the music is playing */
.music-container.play .img-container img {
  animation-play-state: running;
}

/* creating the animation keyframe and setting the image to rotate 360 degrees continiously */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* styling the navigation buttons */
.action-btn {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 20px;
  color: var(--text-color);
  transition: all ease-in .5s;
  background: none;
}

.action-btn.action-btn-big {
  font-size: 20px;
  outline: none;
}

.action-btn:focus {
  outline: 0;
}

/* styling the music-info div by placing it under the music container */
.music-info {
  background-color: var(--bg-color);
  transition: all ease-in .5s;
  border-radius: 0 50px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 5px 15px 0 130px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-info h6 {
  font-size: 12px;
}

/* making the music info pop up when the music playing using the transform property*/
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

/* styling the song progress container */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  height: 4px;
  width: 100%;
}

/* styling the actual progress bar and making it flow along with the song*/
.progress {
  background-color: #333;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
/*music end*/

/*dark & light mode*/
.back-color {
  position: fixed;
  top: 10px;
  left: 165px;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 3px;
  z-index: 99;
}

.colorBtn {
  transition: all ease-in .5s;
  font-size: 18px;
  cursor: pointer;
}

.colorBtn.dark {
  display: none;
}

.light .colorBtn.dark {
  display: block;
}

.light .colorBtn.light {
  display: none;
}

.color-dark, .color-light {
  color: var(--text-color);
}

/*footer*/
footer {
  text-align: center;
  margin: 50px;
  margin-bottom: 115px;
}

footer span {
  color: var(--bg-color);
  transition: all ease-in .5s;
  font-size: 10px;
  font-weight: bolder;
  opacity: .7;
}

/*responsive*/
@media screen and (max-width: 768px) {
  
  header .logo {
    width: 100%;
    justify-content: center;
  }
  
  header nav ul {
    display: none;
  }
  
  header .sosmed {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--body-color);
    padding: 4.9px;
    border: 2px solid var(--bg-color);
    transition: all ease-in .5s;
    border-radius: 0 0 0 0;
    z-index: 99;
  }
  
  header .sosmed a span {
    font-size: 20px;
  }
  
  /*warna select*/
  header .dropdown {
    position: fixed;
    left: 0;
    top: 105px;
    border: 2px solid var(--bg-color);
    background-color: var(--body-color);
    transition: all ease-in .5s;
    border-radius: 0 0 5px 0;
    padding: 3.2px;
  }
  
  .dropdown .dropbtn span {
    font-size: 20px;
  }
  
  .dropdown-content {
    top: 35px;
    flex-wrap: nowrap;
    padding: 35px 15px 15px 15px;
  }
  
  .logo img {
    width: 55px;
    height: 55px;
  }
  
  .logo span {
    font-size: 12px;
  }
  
  .hamburger {
    display: inherit;
  }
  
  /*home versi mobile*/
  .container {
    margin: 50px 10px 70px 10px;
  }
  
  .container .welcom span {
    font-size: 20px;
  }
  
  .container .banner {
    flex-direction: column;
    gap: 100px;
  }
  
  .banner .sub-hero {
    order: 1;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /*about versi mobile*/
  .container-about {
    margin: 0 0 15px 0;
  }
  
  .about {
    margin: 10px;
  }
  
  
  /*kontak versi mobile*/
  .container-kontak {
    margin: 50px 10px 15px 10px;
  }
  
  .content {
    flex-direction: column;
    gap: 50px;
  }
  
  .my-music {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  
  /*dark & light mode*/
  .back-color {
    left: 410px;
  }
  
}

@media screen and (max-width: 500px) {
  
  /*galeri versi mobile*/
  .container-galeri {
    margin: 0 0 15px 0;
  }
  
  .galeri {
    flex-direction: column;
    gap: 30px;
  }
  
  .foto-slider {
    max-width: 100%;
    justify-content: center;
    order: -1;
  }
  
  .foto,.vidioKu {
    border-left: none;
  }
  
  .vidioKu {
    margin: 20px 0 50px 0;
    justify-content: center;
  }
  
  .container-galeri h5 {
    border: none;
    color: var(--bg-color);
    left: 5px;
    transition: all ease-in .5s;
  }
  
  /*dark & light mode*/
  .back-color {
    left: 230px;
  }
}
